# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env/
.env.local/

# Flask
instance/
.webassets-cache

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log

# Dataset (CSV besar / sensitif)
*.csv

# Model artifacts (jika nanti disimpan)
*.joblib
*.pkl
